<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    .click-button:hover { background-color: #011E41 !important; }
    </style>
  </head>
  <body>
    <h1>College ARCH Event Reminder: <%= @event_name %></h1>
    <p>
      Hi <%= @name %>,
      <br>
      <br>
      You're registered for the following College ARCH event:
      <br>
        Event Name: <b><%= @event_name %></b>
      <br>
        Start Time: <b><%= @start_time %></b>
      <br>
        End Time: <b><%= @end_time %></b>
      <br>
      <br>
        To join the event click here:
      <br>
      <a href=<%= @join_link %>>
        <button type="button"
        class="click-button"
        style="background-color:hsl(213, 97%, 30%);
        border:none;
        color:white;
        margin: 5px;
        padding: 15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        border-radius:8px;"
        role="button">
          JOIN EVENT
        </button>
      </a>
      <br>
      <br>
      Looking forward to seeing you there and we hope you have an AWESOME day today!!! 💗
      <br>
      -The College ARCH Team 😁
    </p>
    <footer>
      <br/>
      <br/>
      This email was generated automatically. Do not reply to this email.
      <br/>
      Questions? <b>Contact us at contact.collegearch@gmail.com</b>
    </footer>
  </body>
</html>